body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 300%;
  text-align: center;
}

td {
  width: 75px;
}

td.padding {
  background: aliceblue;
}

td.rhyme {
  background: aquamarine;
}

[v-cloak] {
  display: none;
}
