body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 300%;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
}

td, th {
  border: 1px solid rgb(190,190,190);
}

th {
  width: 80px;
}

td {
  width: 65px;
}

td.padding {
  background: aliceblue;
}

td.rhyme {
  background: aquamarine;
}
