<!DOCTYPE html>
<meta charset="utf-8">
<title>Prosody</title>
<link rel="stylesheet" href="prosody.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
<div class="songdata">
  <h1>{{ song.title }}</h1>
  <p>Composer: {{ song.composer }}
  <p>Song ID: {{ song.id }}
  <template v-for="(line, index) in poem">
  <p> Line {{ index + 1 }}
  <table>
    <tbody>
      <tr>
        <td style='text-align: center' v-bind:colspan='line.length + 1'>
          《{{ song.title }}》 - 《{{ song.composer }}》
        </td>
      </tr>
      <template v-for='(header, attribute) in rowHeaders'>
        <tr>
          <th>{{ header }}</th>
          <template v-for="word in line">
            <td>{{ word[attribute] }}</td>
          </template>
        </tr>
      </template>
    </tbody>
  </table>
  </template>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="models/song.js"></script>
<Script src="database.js"></Script>
<script src="assets/mulu.js"></script>
<script type="module" src="prosody.js"></script>
