<!DOCTYPE html>
<meta charset="utf-8" />
<title>Prosody</title>
<link rel="manifest" href="manifest.json" />
<link rel="stylesheet" href="prosody.css" />
<link
  href="https://fonts.googleapis.com/css?family=Noto+Serif+TC"
  rel="stylesheet"
/>
<div class="songdata">
  <div class="locale-changer">
    <select v-model="$i18n.locale">
      <option value="en">English</option>
      <option value="zh">中文</option>
    </select>
  </div>
  <h1>{{ pageTitle }}</h1>
  <input type="checkbox" id="interleave" v-model="interleave" />
  <label for="interleave">{{ $t('interleaved') }}</label>
  <p>
    <template v-for="header in rowHeaders">
      <input
        type="checkbox"
        :id="header"
        :value="header"
        v-model="checkedHeaders"
      />
      <label :for="header">{{ $t(header) }}</label>
    </template>
    <prosody
      :headers="filteredHeaders"
      :lines="lines"
      :colorize="true"
    ></prosody>
  </p>
</div>

<script>
  window.VEXFLOW_HEADLESS = true;
</script>
<script src="load-service-worker.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
<script src="database.js"></script>
<script type="module" src="prosody.js"></script>
