<!DOCTYPE html>
<meta charset="utf-8">
<title>Query</title>
<div class="songdata">
  <input type="text" id="searchbox" v-model="searchbox"> {{ matches.length }} pieces
  <ul>
    <li v-for='song in matches'>
      {{ song.id }} 《{{ song.title }} - {{ song.composer }}》
      <a v-bind:href='`sheet.html?id=${song.id}`'>Sheet Music</a>
    </li>
  </ul>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="models/song.js"></script>
<Script src="database.js"></Script>
<script src="assets/mulu.js"></script>
<script type="module" src="query.js"></script>
