<!DOCTYPE html>
<meta charset="utf-8">
<title>Query</title>
<link rel="stylesheet" href="prosody.css">
<div class="songdata">
  <h1>Query Engine</h1>
  <div style="background:lightgrey">
    <p> Select songs: <input type="text" id="songsQuery" v-model="songsQuery"> 
    <p> (Examples: <code>id:287.1,287.2</code> | <code>title:春</code> | <code>region:s</code> | <code>mode:仙呂</code>)
    <h3>{{ matches.length }} pieces</h3>
  </div>
  <div id="results" style="overflow:auto; max-height:200px; background:lightgrey">
    <ul>
      <li v-for='song in matches'>
        {{ song.id }} 《{{ song.title }} - {{ song.composer }}》 （{{ song.modeKey }}）
        <a v-bind:href='`sheet.html?id=${song.id}`'>Sheet Music</a>
      </li>
    </ul>
  </div>
  <h2>Motifs</h2> 
  <button v-on:click="findAllMotifs">Find motifs</button>
  <div id="results" style="overflow:auto; max-height:200px; background:lightblue">
    <ul>
      <li v-for='motif in motifs'>
        {{ motif[1] }} instances of
        <a href='#results' v-on:click="setLinesQuery(motif[0])">{{ motif[0] }}</a>
      </li>
    </ul>
  </div>
  <p> Filter lines: <input type="text" id="linesQuery" v-model="linesQuery">
  <p> (Examples: <code>65323</code> | <code>216.5.6.</code>)
  <p> Showing first 50 matches:
  <template v-for="line in matchedLines">
    <table>
      <tbody>
        <tr>
          <td style='text-align: center' v-bind:colspan='line.words.length + 1'>
            Line {{ line.index }} of {{ line.song.id }} 《{{ line.song.title }} - {{ line.song.composer }}》
          </td>
        </tr>
        <template v-for='header in headers'>
          <tr>
            <th>{{ header.display }}</th>
            <template v-for="word in line.words">
              <td>{{ word[header.id] }}</td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
</div>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="models/song.js"></script>
<Script src="database.js"></Script>
<script src="assets/mulu.js"></script>
<script type="module" src="query.js"></script>
