body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

div#selectsongs {
  background: lightgrey;
  padding: 10px;
}

div#motifs {
  background: lightblue;
  padding: 10px;
}

div.songdata {
  width: 850px;
}

div.results {
  overflow: auto;
  max-height: 200px;
}

div.toneRow {
  display: flex;
}

div.toneColumn {
  flex: 50%;
}

td.padding {
  background: aliceblue;
}
