body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, button, input[type='text'] {
  font-family: 'Open Sans', sans-serif;
}

input#songsQuery,
input#linesQuery {
  width: 20em;
  padding-left: 5px;
}

input#songsQuery[type='text'],
input#linesQuery[type='text'] {
  font-size: 20px;
}

div#selectsongs {
  background: lightgrey;
  padding: 10px;
}

div#filterlines {
  background: whitesmoke;
  padding: 10px;
}

div#motifs {
  background: lightblue;
  padding: 10px;
}

div.songdata {
  width: 850px;
}

div.results {
  overflow: auto;
  max-height: 200px;
}

div.toneRow {
  display: flex;
}

div.toneColumn {
  flex: 50%;
}

td.padding {
  background: aliceblue;
}
