<!DOCTYPE html>
<meta charset="utf-8">
<title>Query</title>
<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="prosody.css">
<link rel="stylesheet" href="query.css">
<link rel="stylesheet" href="https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<div class="songdata">
  <div class="locale-changer">
    <select v-model="$i18n.locale">
      <option value="en">English</option>
      <option value="zh">中文</option>
    </select>
  </div>
  <h1>{{ $t('queryEngine') }}</h1>
  <div id="selectsongs">
    <p> <input :placeholder="$t('selectSongs')" type="text" id="songsQuery" :value="songsQuery" @input="debouncedSongsQuery($event.target.value)"> </p>
    <p> ({{$t('examples')}}: 
      <template v-for="[keyword, example] in selectSongsExamples">
        | <code>{{$t(`keywords.${keyword}`)}}:{{example}}</code>
      </template>)
    </p>
    <h3>{{ matchedSongs.length }} pieces</h3>
    <div class="results">
      <ul>
        <li v-for='song in matchedSongs'>
          {{ song.id }} 《{{ song.title }} - {{ song.composer }}》 （{{ song.modeKey }}）
          <a :target='target' :rel='rel' :href='`sheet.html?songId=${song.id}`'>{{$t('sheet')}}</a> | 
          <a :target='target' :rel='rel' :href='`prosody.html?songTitle=${song.title}`'>{{$t('prosody')}}</a> |
          <a :target='target' :rel='rel' :href='`./edit/?songId=${song.id}`'>{{$t('edit')}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="filterlines">
  <p> <input :placeholder="$t('filterLines')" type="text" id="linesQuery" :value="linesQuery" @input="debouncedLinesQuery($event.target.value)"></p>
  <p> ({{$t("examples")}}: 
    <template v-for="[keyword, example] in filterLinesExamples">
      | <code>{{$t(`keywords.${keyword}`)}}:{{example}}</code>
    </template>)
  </p>
  <p>
    <input type="checkbox" id="padded" v-model="padded">
    <label for="padded">{{$t('countPaddingCharacters')}}</label>
  </p>
  <vue-tabs>
  <v-tab :title="$t('motifs')">
  <p>
    <div v-if="matchedLines.length > 50">
      Showing first 50 of {{matchedLines.length}} matches:
    </div>
    <div v-else>
      Showing {{matchedLines.length}} matches:
    </div>
  </p>
  <prosody :lines="matchedLines.slice(0, 50)" :headers="headers" :colorize="true"></prosody>
  <div id="motifs">
    <button @click="findAllMotifs">Find motifs</button>
    <div class="results">
      <ul>
        <li v-for='[motif, count] in motifs'>
          {{ count }} instances of
          <a href='#results' @click="setLinesQuery(`melody:${motif}`)">{{ motif }}</a>
        </li>
      </ul>
    </div>
  </div>
  </v-tab>
  
    <v-tab :title="$t('tone')">
      <p> {{$t('findTone')}}: <input type="text" id="toneQuery" v-model="toneQuery"></p>
      <p> ({{$t('examples')}}: <code>平</code> | <code>上</code> | <code>去</code> | <code>入</code>)</p>
      
      <h3>Distribution of notes</h3> 
      <canvas ref="noteChart" id="noteChart" width="400" height="400"></canvas>
      
      <h3>Notes following notes</h3>
      Skeletal: <select v-model="matrixSkeletal">
        <option value="off">----</option>
        <option value="first">{{ $t('firstNote') }}</option>
        <option value="last">{{ $t('lastNote') }}</option>
        <option value="both">First and Last</option>
      </select>
      <confusion-matrix :matrix="matchedFollowingMatrix"></confusion-matrix>
      
      <div v-if="toneQuery">
        <h3>All contours (for "{{ toneQuery }}")</h3>
      </div>
      <div v-else>
        <h3>All contours (for words with 2 or more notes)</h3>
      </div>
      <p>(Positive contours indicate the song ended on a higher note.)</p>
      <canvas ref="contourChart" id="contourChart" width="400" height="400"></canvas>
      <div class="toneRow">
        <div class="toneColumn">
          <h3>Songs with contour</h3>
          <ul>
            <li v-for='(values, contour) in matchedToneContours'>
              Contour {{ contour }}: {{ values.count }}
              <ul>
                <li v-for='title in Array.from(values.titles).splice(0, 10)'>
                  {{ title }}
                </li>
                <li v-if='values.titles.size > 10'>
                  <a href="#" @click="showAlert(Array.from(values.titles).join(', '))">See all...</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="toneColumn">
          <h3>Exact contour breakdown</h3>
          Total matches: {{ matchedContourBreakdown[1] }}
          <ul>
            <li v-for='[count, contour] in matchedContourBreakdown[0]'>
              {{ count }} matches of {{ contour }}
            </li>
          </ul>
        </div>
      </div>
    </v-tab>

    <v-tab :title="$t('rhythm')">
      <p> {{$t('findSymbol')}}: <input type="text" id="rhythmQuery" v-model="rhythmQuery"></p>
      <p> ({{$t('examples')}}: <code>。</code> | <code>、</code> | <code>_</code> | <code>▯</code> | <code>L</code> | <code>﹆</code> | <code>╚</code>)</p>
      <p>
        <input type="checkbox" id="rhythmPercent" v-model="rhythmPercent">
        <label for="rhythmPercent">Show as percent</label>
      </p>
      <div v-if="rhythmQuery">
        <h3>Locations of "{{ rhythmQuery }}"</h3>
      </div>
      <div v-else>
        <h3>Total word counts across all lines</h3>
      </div>
      <canvas ref="rhythmChart" id="rhythmChart" width="400" height="400"></canvas>
    </v-tab>

    <v-tab :title="$t('lineLengths')">
      <h3>Distribution of line lengths</h3>
      <canvas ref="lengthChart" id="lengthChart" width="400" height="400"></canvas>
    </v-tab>
  </vue-tabs>
  </div>
</div>
<script src="load-service-worker.js"></script>
<script src="https://unpkg.com/vue-nav-tabs/dist/vue-tabs.js"></script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="database.js"></Script>
<script type="module" src="query.js"></script>
