body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#metadata {
  display: flex;
  flex-direction: row;
}

#left {
  flex-grow: 1;
}

#right {
  flex-grow: 1;
  text-align: right;
}

h1 {
  font-size: 300%;
  text-align: center;
}

p {
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  line-height: 0.7;
}

select {
  font-family: 'Noto Serif TC', serif;
}

.songdata {
  width: 750px;
}
