<!DOCTYPE html>
<meta charset="utf-8">
<title>Sheet</title>
<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="sheet.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
<div class="songdata">
  <div class="locale-changer">
    <select v-model="$i18n.locale">
      <option value="en">English</option>
      <option value="zh">中文</option>
    </select>
  </div>
  <h1>{{ song.title }}</h1>
  <div id="metadata">
    <div id="left">
      <p>{{ $t('keySignature') }}:
        <select v-model="keySignature">
          <option v-for="s in signatures">
            {{ s }}
          </option>
        </select>
      <p>{{ $t('playback')}}: 
        <button v-on:click='stopMusic()'>⏹️</button>
        <button v-on:click='toggleMusic()'>{{ toggle }}</button>
      <p>{{ $t('bpm') }}: {{ bpm }} 
        <input type="range" v-model='bpm' min='30' max='150' value='120'>
      <p>{{ $t('skeletal') }}: <label for="skeletalFirst">{{ $t('firstNote') }}</label>
        <input type="checkbox" id="skeletalFirst" v-model="skeletalFirst">
        <label for="skeletalLast">{{ $t('lastNote') }}</label>
        <input type="checkbox" id="skeletalLast" v-model="skeletalLast">
    </div>
    <div id="right">
      <p>{{ $t('source') }}: {{ song.composer }}
      <p>{{ $t('id') }}: {{ song.id }}
      <p>{{ $t('region') }}: {{ $t(song.region.toLowerCase()) }}
      <p v-if="song.getRhymeCategories().length > 0">
        {{ $t('rhymeCategory') }}: {{ song.getRhymeCategories()[0] }}
      </p>
    </div>
  </div>
</div>
<div id="vexflow" />
<script src="load-service-worker.js"></script>
<script src="https://unpkg.com/vexflow@1.2.87/releases/vexflow-debug.js"></script>
<script src="https://unpkg.com/tone@13.4.9/build/Tone.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
<script src="database.js"></script>
<script type="module" src="sheet.js"></script>
