<!DOCTYPE html>
<meta charset="utf-8">
<title>Sheet</title>
<link rel="stylesheet" href="sheet.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
<div class="songdata">
  <h1>{{ song.title }}</h1>
  <div id="metadata">
    <div id="left">
      <p>Playback: 
        <button v-on:click='stopMusic()'>⏹️</button>
        <button v-on:click='toggleMusic()'>{{ toggle }}</button>
      <p>BPM: {{ bpm }} 
        <input type="range" v-model='bpm' min='30' max='150' value='120'>
      <p>Skeletal: <label for="skeletalFirst">First</label>
        <input type="checkbox" id="skeletalFirst" v-model="skeletalFirst">
        <label for="skeletalLast">Last</label>
        <input type="checkbox" id="skeletalLast" v-model="skeletalLast">
    </div>
    <div id="right">
      <p>Source: {{ song.composer }}
      <p>Song ID: {{ song.id }}
      <p>Region: {{ song.region }}
      <p>Key Signature:
        <select v-model="keySignature">
          <option v-for="s in signatures">
            {{ s }}
          </option>
        </select>
    </div>
  </div>
</div>
<div id="vexflow"></div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
</script>
<script src="https://unpkg.com/vexflow@1.2.87/releases/vexflow-debug.js"></script>
<script src="https://unpkg.com/tone@13.4.9/build/Tone.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="models/song.js"></script>
<Script src="database.js"></Script>
<script src="assets/mulu.js"></script>
<script type="module" src="sheet.js"></script>
