<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="toolbar">
    <input type="button" id="nextpage" value="(= Prev" onclick="prevPage()">
    <input type="text" id="pagenum" value="Page X" onchange="jumpToPage()">
    <input type="button" id="prevpage" value="Next =)" onclick="nextPage()">
    <input type="button" id="separator" value="Analyze" onclick="analyze()">
  </div>
  <div class="editor">
    <div id="dropzone">
      <canvas id="canvas" width="520" height="800"
          onclick="processClick(event)" onmousedown="mouseDown(event)"
          onmouseup="mouseUp(event)" oncontextmenu="contextMenu(event)">
      </canvas>
    </div>
    <div class="songdata">
      Title
      <textarea readonly name="title" id="title" rows="1" cols="20"
          placeholder="Title" v-model="song.title"></textarea>
      Source
      <textarea readonly name="composer" id="composer" rows="1" cols="20"
          placeholder="Source" v-model="song.composer"></textarea>
      Region
      <select v-model="editedRegion">
        <option v-for="r in regions">
          {{ r }}
        </option>
      </select>
      Lyrics
      <small>(Ctrl + D to highlight melody)</small>
      <table>
        <tbody>
          <tr>
            <td>,</td>
            <td>,</td>
            <td>,</td>
            <td>.</td>
            <td>.</td>
            <td>_字</td>
          </tr>
          <tr>
            <td>句</td>
            <td>讀</td>
            <td>格</td>
            <td>韻</td>
            <td>押</td>
            <td>Padding</td>
          </tr>
        </tbody>
      </table>
      <textarea name="lyrics" id="lyrics" rows="5" cols="20"
          placeholder="Click 'Analyze'" v-bind:style="lyricsStyle" v-model="editedLyrics"></textarea>
      Song Id
      <div class="songbar">
        <input type="button" id="nextsong" value="Prev" onclick="prevSong()">
        <input type="text" id="songnum" v-model="editedId" size="8">
        <input type="button" id="prevsong" value="Next" onclick="nextSong()">
      </div>
      Current Lyric
      <textarea readonly id="lyricpreview" rows="1" cols="1" v-model="lyricPreview"></textarea>
      Melody
      <table>
        <tbody>
          <tr>
            <template v-for="(value, key) in keyboardToGongche">
            <td>{{key}}</td>
            </template>
          </tr>
          <tr>
            <template v-for="(value, key) in keyboardToGongche">
            <td>{{value}}</td>
            </template>
          </tr>
        </tbody>
      </table>
      <textarea name="melody" id="melody" rows="10" cols="20"
          placeholder="Type melody" v-bind:style="melodyStyle" v-model="melodyGongche"></textarea>
      <a target="_blank" rel="noopener noreferrer" 
          v-bind:href="'../sheet.html?songId=' + song.id">Sheet Music</a>
      <a target="_blank" rel="noopener noreferrer" 
          v-bind:href="'../prosody.html?songTitle=' + song.title">Prosody Analysis</a>
      <a target="_blank" rel="noopener noreferrer" 
          href="../query.html">Query Engine</a>
      <a v-on:click="downloadSongs" href="javascript:;">Download database as CSV</a>
    </div>
    <canvas id="snippet" width="100" height="100"></canvas>
  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="../models/song.js"></script>
<script src="../database.js"></script>
<script src="../assets/mulu.js"></script>
<script src="ocr.js"></script>
<script src="separator.js"></script>
<script src="background.js"></script>
<script src="lyricize.js"></script>
<script src="melodize.js"></script>
