body {
  display: grid;
  grid-template-rows: 60px 350px 50px;
}

.toolbar {
  grid-row: 1;
  display: flex;
}

.toolbar > input {
  font-size: 20pt;
  text-align: center;
}

.editor {
  grid-row: 2;
  display: flex;
  align-items: flex-start;
}

.songdata {
  display: flex;
  flex-direction: column;
}

.songdata > textarea {
  font-size: 20pt;
}

#lyricpreview {
  font-size: 40pt;
}

.songbar {
  display: flex;
  height: 60px
}

.songbar > input {
  font-size: 20pt;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
}

td, th {
  border: 1px solid rgb(190,190,190);
}
